<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Caixa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title text-center>
        Apresente ao caixa
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Link_pra_pagina_principal_da_Wikipedia-PT_em_codigo_QR_b.svg/280px-Link_pra_pagina_principal_da_Wikipedia-PT_em_codigo_QR_b.svg.png" alt="">
    </ion-card-content>
  </ion-card>
  <ion-button color="danger" expand="block" routerDirection="back" [routerLink]="['/tabs/menu']">
    Voltar para menu
  </ion-button>
</ion-content>
