.burguer{
    border-radius: 20px;
    width: max-content;
    height: 12rem;
}
#img1{
    border-radius: 20px;    
    width: 85%;    
}

#img2{    
    width: 85%;      
}
#content{
    background-color: #000000;
}