<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons>
      <ion-back-button color="light" defaultHref='/produtos/:id'></ion-back-button>
    </ion-buttons>
    <ion-title>Detalhes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card >
      <ion-card-header color="danger">
        <ion-card-title>
          {{produto.nomeProduto}}
        </ion-card-title>
        </ion-card-header>
      <ion-card-content>
        <img src="{{produto.img}}">
        <p>{{produto.detail}}</p>
      </ion-card-content>
    </ion-card>
  </ion-list>
  <ion-button color="danger" expand="full" (click)="getCarrinho(produto.nomeProduto, produto.price, produto.img)">
    Adicionar ao carrinho
  </ion-button>
</ion-content>
